body {
  background-color: #282c34;
  padding: 1rem;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: #09d3ac;
  text-decoration: none;
}
a:hover {
  color: #09d3ac;
}

.header,
.footer {
  min-height: 10vh;
  display: flex;
  align-items: center;
}

.content {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
}

.content-textarea {
  min-height: 60vh;
  background: none;
  width: 100%;
  font-size: calc(10px + 2vmin);
  border: none;
}

.span-editable {
  position: relative;
  outline: none;
  color: black;
}

.span-editable {
  position: relative;
  outline: none;
  color: black;
}
.span-editable.bold {
  font-weight: bold;
}
.span-editable.italic {
  font-style: italic;
}
.span-editable.underline {
  text-decoration: underline;
}

.span-editable:focus:after {
  display: block;
  content: "";
  position: absolute;
  top: -0.3rem;
  left: -0.3rem;
  width: calc(100% + 0.3rem);
  height: calc(100% + 0.3rem);
  border: solid 1px orange;
  pointer-events: none;
  box-shadow: 0 0 30px 1px #f0f;
}
